#frame {
  height: 200px;
  width: 20vw;
  margin: auto;

  position: relative;
  overflow: hidden;
}

#wide-image {
  height: 200px;
  width: 100vw;

  display: flex;

  position: absolute;
}

.image {
  height: 200px;
  width: 20vw;
}

#purple {
  background-color: #442288;
}

#blue {
  background-color: #6CA2EA;
}

#green {
  background-color: #B5D33D;
}

#yellow {
  background-color: #FED23F;
}

#red {
  background-color: #EB7d5B;
}

.btn {
  position: absolute;
  z-index: 10px;

  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 10px;
  font-size: large;
}

#next-btn {
  top: 40%;
  right: 2%;
}

#prev-btn {
  top: 40%;
  left: 2%;
}

#small-dots-container {
  display: flex;
  justify-content: space-between;

  width: 10vw;
  margin: 10px auto;
}

.small-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;

  background-color: lightgray;
}

.selected-dot {
  background-color: lightblue;
}